<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191110943671-p861nttjhf737bai3j9aehd3d8qpac7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191110943671-p861nttjhf737bai3j9aehd3d8qpac7l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>191110943671-4an87n6s2te1fcsq32eoqboeta3qo0pf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ-gYwZYjwI_kWz0737NZ3Jpl7BUkQo8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>191110943671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surveiAsia</string>
	<key>PROJECT_ID</key>
	<string>surveyasia-f63a2</string>
	<key>STORAGE_BUCKET</key>
	<string>surveyasia-f63a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191110943671:ios:ab02dfaf885f142f764e32</string>
</dict>
</plist>